.ourTeamLeft {
    width: 50%;
    height: 200px;
}
.memberImg {
    width: 300px;
    height: 400px;
}
.ourTeamRight {
    width: 50%;
}
.memberWorkImg {
    width: 150px;
    height: 150px;
}

.modalImage {
    height: 300px;
}