.carousel {
    height: 350px;
    margin: 0px var(--spaceOut);
    margin-top: var(--spaceIn2);
}
.carousel-item {
    height: 350px;
}
.posts {
    background-color: silver;
}
.aboutUsLeft {
    width: 50%;
}
.aboutUsRight {
    width: 50%;
    height: 200px;
    border-radius: 20px;
    background-color: var(--color4);
}

.post {
    background-color: white;
}
