:root {
    --azul: #6EB3D0;
    --verde: #B6D7A8;
    --rosa: #F7B6D2;
    --laranja: #F4A623;
}

::-webkit-scrollbar {
    width: 0px;
    display: none;
}

/* trabalha em conjunto com a classe  HTML "d-flex flex-column justify-content-between" */
/* body {
    height: 100vh;
} */
/* trabalha em conjunto com a div HTML h-spacer */



.copyright { margin-top: 15px; }
.author { font-weight: bold; }
.cArrow { cursor: default; }
.cHand { cursor: pointer; }

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}


h4 {
    padding: 30px;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.header, .footer {
    background-color: var(--color4);
}
.header img {
    width: 50px;
    height: 50px;
}

/* sections */

.bannerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    background-color: var(--color4);
}
.world {
}
.worldTop {
    background-color: var(--color1)
}
.worldTopImg {

}
.worldTopLeft {
    width: 50%;
}
.worldTopRight {
    width: 50%;
    height: 200px;
    border-radius: 20px;
    background-color: var(--color4);
    background-image: url(/src//user/img/exploreMundo.jpg);
    background-size: cover;
}
.worldBottom {
}
.worldBottomLeft {
    width: 50%;
}
.worldBottomRight {
    width: 50%;
    border-radius: 20px;
}
.postImg {
    width: 150px;
    height: 150px;
    background-color: var(--color4);
}

.network {
    background-color: var(--color1);
}
.networkTopRight img {
    width: 120px;
    height: 180px;
    background-color: var(--color4);
}

.divSearch {
    width: 80%;
}


.postInfo {
    color: var(--colorWB4);
}
.postOK {
    color: var(--color6);
}