/* css media configuration related to index.html 

                width ?     portrait or landscape 
    MobileS		320
    MobileM		375
    MobileL		425         *   480
    Tablet		768         *
    Laptop		1024
    LaptopL		1440        *
    4K			2560 	
    
    0   watch   320px   mobile   480px   tablet   1024px   laptop   1440px   desktop   2560px   tv  ...
                ---              ===              ----              ====               ----  
                    400                   800
*/




/* watch - defaults to ??? */
@media screen and (max-width: 320px) {

}	

/* mobile - defaults to portrait */
@media screen and (min-width: 320px) and (max-width: 800px) and (orientation: portrait) {
    .worldContent {
        flex-direction: column;
        align-items: center;
    }
    .world {
        height: 380px;
    }
    .postsView {
        flex-direction: column-reverse;
        align-items: center;
    }
    .postsSearch {
        margin-bottom: 20px;
        width: 100%;
    }
    .networkInfo {
        flex-direction: column;
        align-items: center;

    }
    .networkImages {
        width: 100%;
    }
}	
/* mobile - landscape */
@media screen and (min-width: 320px) and (max-width: 800px) and (orientation: landscape) {
    body {
        background-color: lime;
    }
}	
